
/*.navCaja {
  display: flex;
  position: relative; 
  left: 0;
  top: 0;
  width: 100vw;
  height: 11%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:c1da99;

}

.logoImagen {
  flex: 1; 
  width: 80%;
  max-width: 100%; 
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.logoImagen > img {
  
  object-fit: fill; 
  height: auto;
  width:20%;
}

.BanderasGroup{
      display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    
    overflow: false;
    width: 100%;
    height: 5vh;

    flex-direction: row;

}
.BanederaImagen > img{
  width: 100%;
  height: 100%;

  border-radius: 8px;
  object-fit: cover;
  transform: translate(0%, -50%);

}

.Bandera{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100%;
  border-right: 1px solid #ddf1bc;
  border-left: 1px solid #ddf1bc;
  margin-bottom: 70px;

}*/
body{
  margin: 0px;
  background-color: #FCFFDF;
}

.container {
  margin-bottom: 3rem;
  margin-left: auto;
  width: 100%;
 
  padding: 0 0.5rem;
  
}

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  
  


}
.LogoColor{
 
 display: flex;
 justify-content: center;

}

.testColor{
  background-color:#c1da99;
 width: 100%;
 box-shadow: 5px 8px 15px #969696;
 border-radius: 0px 0px 10px 10px;
}

.header-img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  
}

.icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color:#c1da99;


}

.icon-img {
  height: 3.5rem;
  width: 7.5rem;
  object-fit: cover;
  object-position: center;
  margin: 0 0.5rem;
  position: relative;
  border-radius: 8px;

}

.divider {
  border-left: 2px solid #DDF1BC;
  height: 2.5rem;
  margin: 0 0.5rem;

}

.stations {
  display: flex;
  gap: 5px;
  padding: 2.5px 0;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #2e7d32;
  color: #d0f0c0;
  flex-direction: row;
  width: 50%;
  border-radius: 0px 0px 10px 10px;
}

.station {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  /*margin-right: 5%;
  margin-left: 5%;*/

}

.station-img {
  align-self: center;
  width: 51px;
  aspect-ratio: 1.41;
}

.station-name {
  margin-top: 1.5px;
}

.header {
  display: flex;
  align-items: center;
}

.shrink-divider {
  width: 0.5rem;
  height: 2.5rem;
  background-color: #d0f0c0;
  border: 2px solid #d0f0c0;
}

.shrink-img {
  width: 65px;
  aspect-ratio: 1.75;
}

.stations {
  display: flex;
  gap: 5px;
  padding: 2.5px 0;
  text-align: center;
  background-color: #2e7d32;
  color: #d0f0c0;
}

.station {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.station-img {
  align-self: center;
  width: 51px;
  aspect-ratio: 1.41;
}

.station-name {
  margin-top: 1.5px;
}

.summary {
  display: flex;
  gap: 5px;
  padding: 1rem 0.5rem;
  text-align: center;
  background-color: #d0f0c0;
  color: #2e7d32;
  opacity: 0.9;
  border-radius: 2rem;
  margin-top: 2.75rem;
  width: 50%;
  margin-left: 25%;
}

.summary-img {
  width: 31px;
  aspect-ratio: 0.97;
}

.summary-text {
  flex: 1;
  align-self: center;
  }

.metrics {
  display: flex;
  gap: 5px;
 align-items: center;
  text-align: center;
  justify-content: center;
  color: #d0f0c0;
  max-width: 325px;
  margin-top: 3.5rem;
  margin-left: 33%;
}


.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 9rem;
  height: 9rem;
  background-color: #2e7d32;
  opacity: 0.8;
  border-radius: 2rem;
  padding: 0.5rem;
}

.metric-title {
  font-size: 2rem;
}

.metric-subtitle {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.metric-value {

  font-size: 5rem;
}

.radiacion-img {
  margin-top: 0.5rem;
  width: 6rem;
  aspect-ratio: 1.25;
}

.averages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  margin-top: 8rem;
  width: 100%;
  text-align: center;
  color: #2e7d32;
  background-color: #d0f0c0;
  opacity: 0.5;
}

.averages-content {
  padding: 1rem 4rem;
}
